nextflow.enable.dsl = 2

params {
    input          = "data/*.fastq.gz"
    outdir         = "results"
    kraken2_db     = "databases/kraken2_db"
    min_quality    = 8
    min_length     = 500
    max_length     = 100000
    bracken_length = 300
    bracken_level  = "S"
    bracken_thresh = 10
    help           = false
}

process {
    beforeScript = """
        source \$(conda info --base)/etc/profile.d/conda.sh
        conda activate rgcb_shotgun_meta
    """

    withLabel: 'process_low' {
        cpus   = 2
        memory = '4 GB'
        time   = '2 h'
    }
    withLabel: 'process_medium' {
        cpus   = 4
        memory = '8 GB'
        time   = '4 h'
    }
    withLabel: 'process_high' {
        cpus   = 8
        memory = '16 GB'
        time   = '8 h'
    }
}

profiles {
    standard {
        process.executor = 'local'
        conda.enabled    = false
    }
    test {
        params.input      = "data/zymo_50k.fastq.gz"
        params.outdir     = "test_results"
        params.kraken2_db = "databases/kraken2_db"
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_trace.txt"
    overwrite = true
}

manifest {
    name            = 'rgcb-shotgun-metagenomics-pipeline'
    author          = 'Barath, RGCB Genomics Central Facility'
    description     = 'ONT shotgun metagenomics pipeline for wastewater and environmental samples'
    version         = '1.0.0'
    nextflowVersion = '>=23.04'
}
